

h1 {
    text-align: center;
}

h2{
    text-align: center;
}

h4{
    text-align: center;
}
h5 {
    text-align: center;
    font-weight: normal;
}

body {
    font: normal 20px Verdana, Arial, sans-serif;
    text-align: justify;
    text-justify: inter-word;
}

img {
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}


ul {
    text-align: left;
}